.app {
  display: flex;
  padding: 20px;
}

.game {
  /* number divisible by 8! */
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  /* 8th of 800px! */
  width: 100px;
  height: 100px;
}

body {
  background: #000;
}